/*html {*/
    /*font-family: verdana;*/
    /*font-size: 10pt;*/
    /*line-height: 25px;*/
/*}*/
table {
    border-collapse: collapse!important;
    width: 300px!important;
    /*overflow-x: scroll;*/
    display: block;
}
thead {
    /*background-color: #EFEFEF;*/
}
tbody {
    display: block;
}
tbody {
    overflow-y: scroll;
    /*overflow-x: hidden;*/
    height: 140px;
}
td, th {
    min-width: 140px!important;
    /*height: 25px;*/
    /*border: dashed 1px lightblue;*/
    /*overflow:hidden;*/
    /*text-overflow: ellipsis;*/
    /*max-width: 140px!important;*/
}